:root{
    --primary-color: #ff0000;
    --item-color: #272b30;
}

* {
    box-sizing: border-box;
    color: #ffffff;
}


/* header */

i {
    color: var(--primary-color);
}

.navbar-nav .active a {
    color: var(--primary-color);
}

/* main */

section {
    background: var(--item-color);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
}

#form-section {
    background: #212529;
}

input {
    background: var(--item-color);
}

.container-navegador, #main-doc {
    width: 90%;
}

#main-doc {
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
}

/* formulario */

label {
    color: var(--item-color);
}

#container-form, .cont-button {
    display: flex;
    justify-content: center;
}

#email {
    width: 400px;
}

.btn {
    width: 150px;
    background: var(--primary-color);
}

/* seccion informacion */


span {
    margin-top: 0;
    display: block;
    font-size: 20px;
}

.container-info h1, span {
    text-align: center;
    margin-bottom: 0;
}


.cont {
    padding: 20px;
}

.info {
    display: flex;
    padding: 10px;
    align-items: center;
}

.info .p-detalles{
    font-size: 24px;
    margin: auto 10px auto 40px;
}

.info img {
    width: 100px;
    border-radius: 50px;
}


/* seccion precios */

#precios-section {
    text-align: center;
}

.cont-card {
    margin: 25px 0px;
}

#precio {
    padding: 50px;
    font-size: 50px;
}

.card-footer {
    padding: 20px;
}

/* media querys */

@media (max-width: 460px) {

    /* formulario */
    #email {
        width: 200px;
    }

    /* seccion informacion */
    .container-info h1 {
        font-size: 36px;
    }

    .container-info span {
        font-size: 16px;
        text-align: justify;
    }

    .cont {
        padding: 0;
        margin-top: 15px;
    }

    .info {
        display: block;
        text-align: center;
    }

    .info img {
        width: 80px;
        height: 80px;
    }

    .info .p-detalles {
        font-size: 13px;
        text-align: justify;
        margin: 10px;
    }

    /* seccion precios */
    #precio {
        padding: 30px;
        font-size: 30px;
    }

    .cont-card {
        font-size: 13px;
    }
}

@media (max-width: 540px) {

    /* formulario */
    #email {
        width: 250px;
    }

    /* seccion informacion */
    .container-info h1 {
        font-size: 36px;
    }

    .container-info span {
        font-size: 20px;
        text-align: justify;
    }

    .cont {
        padding: 0;
        margin-top: 15px;
    }

    .info {
        text-align: center;
    }

    .info img {
        width: 80px;
        height: 80px;
    }

    .info .p-detalles {
        font-size: 16px;
        text-align: justify;
        margin: 10px;
    }

    /* seccion precios */
    #precio {
        padding: 40px;
        font-size: 40px;
    }

    .cont-card {
        font-size: 16px;
    }
}

@media (max-width: 768px) {


    /* seccion informacion */
    .container-info h1 {
        font-size: 36px;
    }

    .container-info span {
        font-size: 20px;
        text-align: justify;
    }

    .cont {
        padding: 0;
        margin-top: 15px;
    }

    .info {
        text-align: center;
    }


    .info .p-detalles {
        font-size: 18px;
        text-align: justify;
        margin: 10px;
    }

    /* seccion precios */
    #precio {
        padding: 40px 0;
        font-size: 40px;
    }

    .cont-card {
        font-size: 14px;
    }
}

@media (min-width: 769px) and (max-width: 1241px) {


    /* seccion precios */
    #precio {
        padding: 50px 0;
        font-size: 40px;
    }

    .cont-card {
        font-size: 20px;
    }
}

