:root {
    --border-color: #4d4e53;
}

* {
    color: #fff;
}

/* navbar */

header {
    margin: 10px;
    text-align: left;
    font-size: 18px;
    font-weight: thin;
  }

#navbar {
    position: fixed;
    min-width: 280px;
    width: 300px;
    height: 100%;
    border-right: 1px solid;
    border-color: var(--border-color);
}

#navbar h1 {
    font-size: 30px;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

#navbar li {
    color: var(--border-color);
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

  #navbar a {
    display: block;
    padding: 8px 30px;
    text-decoration: none;
    cursor: pointer;
}

ul li .nav-link {
    text-decoration: none;
    color: #fff;
}

.cont-logo {
    text-align: center;
}

.logo-css {
    width: 120px;
}

/* main  */

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

section article {
    margin: 15px;
}

article p, article dd{
    text-align: justify;
}

article dl {
    margin-left: 30px;
}

code {
    color: chartreuse !important;
    padding: 0;
}

table {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.nombre-columna {
    text-align: center;
}

.descripcion {
    text-align: justify;
    padding: 10px;
}

table, td {
    border: 1px solid;
}

pre {
    margin-left: -100px;
}

#img-ejemplo-grid {
    width: 600px;
    margin-left: 80px;
    margin-bottom: 20px;
}


/* media query */

@media (max-width: 800px) {
    /* navbar */

    #navbar {
        width: 100%;
        height: 100px;
        position: absolute;        
    }

    #navbar h1, #navbar a {
        text-align: center;
    }

    #navbar h1 {
        font-size: 30px;
    }

    /* main */

    #main-doc {
        margin: 250px 20px 20px 0px;
        width: 100%;
    }

    #img-ejemplo-grid {
        width: 500px;
    }

    pre {
        margin-left: -250px;
    }
}